
* {
    margin: 0;
    padding: 0;
    background: #000;
}

.clock-container {
    width: 50rem;
    height: 20rem;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;

}

.hour,
.minute,
.second {
    height: 10rem;
    width: 10rem;
    border: 5px solid white;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    margin-left: 4rem;
    background: #f9f7f7;

}

.time-hour,
.time-minute,
.time-second {
    text-align: center;
    color: #000 !important;
    background-color: #f9f7f7;
    height: 20px;
    width: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 300%;
}

.ampm {
    width: 4rem;
    height: 2rem;
    margin-top: 40px;
    margin-right: 20px;
    background: #f9f5f5;
    text-align: center;
    font-size: 30px;
}

.semi-colon{
    text-align: center;
    color: #ffffff !important;
    /* background-color: #f9f7f7; */
    height: 20px;
    width: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 300%;

}